<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script type='text/javascript' src="{{ url_for('static', filename = 'js/ninjascript.js')}}"></script>
  <title>Ninjas found</title>
</head>

<body>
  <div id="main" class="main">
    {% if ninja == True%}
    <div id="ninjas">


      <img src="{{url_for('static', filename='images/leonardo.jpg')}}">
      <img src="{{url_for('static', filename='images/raphael.jpg')}}">
      <img src="{{url_for('static', filename='images/michelangelo.jpg')}}">
      <img src="{{url_for('static', filename='images/donatello.jpg')}}">
      <!-- <img src="{{url_for('static', filename='notapril.jpg')}}" alt="april"> -->
    </div>
    {% endif %} {% if ninja == False %} {% if color == "blue" %}
    <img src="{{url_for('static', filename='images/leonardo.jpg')}}">{% elif color == "red" %}
    <img src="{{url_for('static', filename='images/raphael.jpg')}}"> {% elif color == "purple" %}
    <img src="{{url_for('static', filename='images/donatello.jpg')}}"> {% elif color == "orange" %}
    <img src="{{url_for('static', filename='images/michelangelo.jpg')}}"> {% else %}
    <img src="{{url_for('static', filename='images/notapril.jpg')}}"> {% endif %} {% endif %}
  </div>

</body>

</html>
